
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
  display: flex;
}
.text-primary{
  color: #FF900E;
}
.btn-primary{
  background-color: #FF900E;
  color:#FFFFFF ;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

/* dark02 */
.text-gray{
  color: #424242;
}
/* dark03 */
.text-lightgray{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */

/* navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
} 

.Brand-name{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;

}

.navbar, .banner{
  max-width: 1440px;
  margin: 0,auto;
}

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
 font-weight: 700;
 font-size: 4rem;
}
.banner-image{
  width: 100%;
  margin: 50px auto;
  padding-left: 30px;
}



/* teams and feature related styles */
.teams{
  align-items: center;

}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  margin-left: 130px;
  max-width: 530px;
}
#quick-list{
  font-weight: 500;
}

.feature-title{
  font-size: 2.81rem;
}

.love-container{
  display: flex;
  gap: 54px;
}
.love-image{
  width: 100%;
  height: auto;
}
.love-card-container{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;

}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;

}

.love-title{
  font-size: 2.8rem;
  font-weight: 700;
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

#experience-badge{
  padding: 45px 42px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: -90px;
  margin-top: -110px;
}

#experience-year{
  font-size: 4.06rem;
  font-weight: 700;
}
.fact-card-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
padding-left: 50px;
padding-right: 50px;
}

.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.number{
  font-size: 2.81rem;
  font-weight: 600;
  color: #424242;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-description{
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
  margin-top: 10px;
}

.sponsor{
  max-width: 542px;
  max-height: 129px;
  text-align: center;
  margin: 0 auto;
}

.our-sponsors{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter: grayscale(100%);
  margin-left: 50px;
  margin-bottom: 130px;
 
}

.footer-container{
  width: 1440px;
  height: 100px;
  border-radius: 8px;
  background-color: #FFF4E7;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 130px;
}
.footer-text{
  margin: 30 auto;
  font-size: 1.25rem;
  font-weight: 400;
 
}


/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, 
  .nav-links,
  .teams,
  .love-container{
    flex-direction: column;
  }

  .fact-card-container, .team-img-container, .our-sponsors{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .some-facts, .sponsor{
    text-align: center;
  }
  .footer-container{
    max-width: 100%;
    text-align: center;
  }
  #experience-badge{
    display: none;
  }
}

